/* Login.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #ffffff; /* White background */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the navbar is on top */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 24px;
  margin-left: 20px; /* Adjust the margin to separate the logo from the left edge */
  /* Add any additional styling for the logo here */
}

.logo img {
  max-height: 40px; /* Adjust the maximum height of the logo image */
  margin-right: 10px; /* Add some margin between the image and text */
}

.signup-button {
  background-color: #4caf50; /* Green background color for the button */
  color: #fff; /* Text color for the button */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
}

.login-box {
  margin-top: 9%; /* Adjust the margin to create space below the fixed navbar */
  background-color: #f5f5f5; /* Light gray background color for the login box */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

.signup_input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff; /* Blue background color for the login button */
  color: #fff; /* Text color for the button */
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px; /* Adjust margin for spacing if needed */
  font-weight: bold; /* Make the error message bold */
}

.rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.viewlink {
  margin-right: 10px;
  cursor: pointer;
}

.viewlink:hover {
  text-decoration: underline;
  color: #007bff;
}
